.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-row-2 {
  grid-template-rows: 1fr 1fr;
}

.flex {
  display: flex;
}

.gap-80 {
  gap: 80px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.text-2xl{
  font: var(--h1);
}

.text-xl{
  font: var(--h2);
}

.text-lg{
  font: var(--h3);
}

.text-sm{
  font: var(--text-sm);
}